<table class="box" table id="Tabel1" >
    
  
    

  <tr>
    <td> Insert product name:  <input type="text" name="name" [(ngModel)]="productName" /> </td>     
      </tr> 
      <p></p>
      <p></p>    
      <tr>
          <td> Insert product category: <input type="text" name="category"[(ngModel)]="productCategory"  /> </td>            
      </tr>
      <p></p>
      <p></p>          
       <tr>
           <td> Insert price paid: <input type="Number" name="price" [(ngModel)]="pricePaid"  /> </td>           
       </tr>
       <p></p>
       <p></p>  
       <tr>
           <td> Insert profit margin wanted: <input type="Number" name ="profitmargin" [(ngModel)]="winstMargin" /> </td>           
                     
       </tr>

       <td> Insert username: <input type="text" name ="username" [(ngModel)]="userName" /> </td>  

       
       <p></p>
       <p></p> 
       <button (click) = "click()"> confirm all </button>
       

  </table>





 



 
  